@font-face {
    font-family: Aller;
    src: url(fonts/Aller/Aller_Rg.ttf);
}
html {
    font-family: Aller, serif ;
}
#content, #header {
    width: 60%;
    margin: 0 auto;
}
input {
    border-radius: 4px;
    border: none;
    background: #efefef;
    padding: 8px;
    width: auto;
}
label {
    display: inline-block;
    padding: 10px;
    width: 140px;
    text-align: right;
}
#sys-start {
    background: transparent;
}
#div-reboot {
    text-align: center;
}
#reboot {
    background-color: firebrick;
    color: #efefef;
}
#list-weather, #list-information {
    display: inline-block;
    list-style: none;
    margin-bottom: 30px;
}
/*-----Information section-----*/
#rss {width: 300px;}

/*-----Wether sevtion-----*/
#api-key {width: 300px;}

/*-----Birthday section-----*/
fieldset {
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: auto;
}
fieldset label {
    width: auto;
}
fieldset legend {
    font-size: small;
}
#new-name {
    width: 200px;
}
#new-bday {
    width: 100px;
}
#new-entry {
    background: dodgerblue;
    color: #efefef;
    width: auto;
    margin-left: 20px;
}
#div-birthdaylist {
    text-align: center;
}
#list-birthday {
    display: inline-block;
    width: auto;
}




@media only screen and (max-width: 800px) {
    label {
        display: block;
        padding: 0;
        padding-top: 8px;
        width: auto;
        text-align: left;
        font-size: small;
    }
    input {
        width: auto;
        display: block;
    }
    body {
        text-align: center;
    }
    #header, #content {
        width: 80%;
        text-align: center;
        display: inline-table;
    }
}





